<h1>Bonjour </h1>

<p>S il vous plait confirmer votre email en clicquand sur le lien suivant :
     <br><br>
    <a href="{{ signedUrl|raw }}">confirmer mon Email</a>.
   se lien expire dans : {{ expiresAt|date('g') }} heure(s).
</p>

<p>
   merci
</p>
