{% extends 'base.html.twig' %}

{% block title %}index admin {% endblock %}

{% block body %}
<div class="container police ">
    <h2 class="stencil text-center mt-4">Page d'adminstration</h2>

</div>


{% endblock %}
