{% extends 'base.html.twig' %}

{% block title %}Nouvelle pizza{% endblock %}

{% block body %}
    <div class="container stencil">
        <h1 class="text-center mt-4">Nouvelle pizza</h1>

        {{ include('admin/pizza/_form.html.twig') }}
        <a href="{{ path('admin_pizza_index') }}">retour a la liste</a>
    </div>



{% endblock %}
