{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe {% endblock %}

{% block body %}
    <div class="stencil">
    <h1 class="mt-5 text-center">Modifier mon mot de passe</h1>
    <a href="{{ path("acount") }}">Retour a mon compte</a><br>


    {{ form(form) }}
    </div>
{% endblock %}


